body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: 'Architects Daughter', cursive;
}

.card {
  background: #eaeaea;
  opacity: 0.5;
  color: white;
  padding: 2em;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}